<!--image, title, description set as params in ctrl-->
<%= image_tag @snap.image.url(:medium) %>
<h1>
  <%= @snap.title %>
</h1>
<p>
  <%= @snap.description %>
</p>

<p>
  Submitted by:
  <%= @snap.user.email %>
</p>

<%= link_to "Back", root_path %>
<%= link_to "Edit", edit_snap_path %>
<%= link_to "Delete", snap_path, method: :delete, data: { confirm: "Are you sure?" } %>